# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 676ca4967f060b941f6a49273f05cce39f2672a63ba95a2205db18a0df04c56fabd18e0a7d2fe0319c276107422eb628b32177257a1f35f57603469430e405a3
  twitter_app_id: your_twitter_app_id:
  twitter_app_secret: your_twitter_app_secret
  consumer_key: your_consumer_key
  consumer_secret: your_consumer_secret
  access_token: your_access_token
  access_token_secret: your_access_token_secret
test:
  secret_key_base: c8db6243f60b0a6d0252230d1bccf0b705bb19f488b44f418a951f285ab4dc7582eaef15e628c6f618895c7273a353b09b086cfc2c2a2e13cc0e2c64e134fd86

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
