// Place all the styles related to the Messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index {
  margin-left: 200px;
  margin-top: 100px;
}

.mess-time {
  font-family: italic;
  font-size: 10px;
}

.messages {
  border: 2px double black;
  padding: 5px;
  margin: 20px;
}

.mess-time {
  padding-top: 25px;
  padding-left: 0px;
}

.mess-view {
  padding-top: 25px;
}

.mess-body {
  padding-left: 0px;
}